<h1 style="text-align:center;"><b>Data Science - Proyecto 1: Limpieza de Datos</b></h1>
<h3 style="text-align:center;">Alina Carías, Marcos Díaz, Ariela Mishaan </h3>

In [4]:
import os
import glob
import pandas as pd 
import re

# 1. Carga de datos

En este paso, no solamente se importaron los CSVs desde el fólder en el directorio, sino también se aprovechó el ciclo for para eliminar las filas y columnas vacías o inútiles que traían los exceles. Dado que todos venían en exactamente el mismo formato, se pudo inspeccionar exactamente qué era lo que se necesitaba, para hacer el proceso de forma masiva. El proceso es el siguiente: 

1. Carga de archivo csv en un dataframe de pandas. 
2. Leer solamente las filas donde hay datos relevantes (de la 27 hasta antes de las últimas 5)
3. Cambiar el encabezado, poner en él los nombres de las columnas. 
4. Borrar las columnas con solo datos inexistentes (NA - estas son por el formato en el que venían los archivos)
5. Resetear los índices del dataframe de pandas para que sean manejables los datos. 
6. Agregar el dataframe del departamento a la lista con todos los dataframes.

In [5]:
folder_path = "Datos/CSVs" 
contenido = os.listdir(folder_path)
csv_files = glob.glob(f'{folder_path}/*.csv')

datos = []

for file_path in csv_files:
    print(f"Leyendo archivo: {file_path}")

    # Leer el df, borrando las primeras 27 filas de todos los archivos y las últimas 7
    df = pd.read_csv(file_path, header = None )[25:-5]

    # Cambiar el header para poner los nombres de las columnas
    new_header = df.iloc[0]  
    df2 = df[1:].copy()     
    df2.columns = new_header   

    # Borrar la segunda columna y las últimas dos
    indices = [1, -1,-2]
    df_dropped_multiple = df2.drop(df2.columns[indices], axis=1)

    # Resetear los índices
    df2 = df2.reset_index(drop = True)

    #Meter el dataframe a la lista
    datos.append(df2)

df_unido = pd.concat(datos, ignore_index=True)

print("\nImportación realizada con éxito")

Leyendo archivo: Datos/CSVs\Alta Verapaz.csv
Leyendo archivo: Datos/CSVs\Baja Verapaz.csv
Leyendo archivo: Datos/CSVs\Chimaltenango.csv
Leyendo archivo: Datos/CSVs\Chiquimula.csv
Leyendo archivo: Datos/CSVs\Ciudad Capital.csv
Leyendo archivo: Datos/CSVs\El Progreso.csv
Leyendo archivo: Datos/CSVs\Escuintla.csv
Leyendo archivo: Datos/CSVs\Guatemala.csv
Leyendo archivo: Datos/CSVs\Huehuetenango.csv
Leyendo archivo: Datos/CSVs\Izabal.csv
Leyendo archivo: Datos/CSVs\Jalapa.csv
Leyendo archivo: Datos/CSVs\Jutiapa.csv
Leyendo archivo: Datos/CSVs\Petén.csv
Leyendo archivo: Datos/CSVs\Quetzaltenango.csv
Leyendo archivo: Datos/CSVs\Quiché.csv
Leyendo archivo: Datos/CSVs\Retalhuleu.csv
Leyendo archivo: Datos/CSVs\Sacatepéquez.csv
Leyendo archivo: Datos/CSVs\San Marcos.csv
Leyendo archivo: Datos/CSVs\Santa Rosa.csv
Leyendo archivo: Datos/CSVs\Sololá.csv
Leyendo archivo: Datos/CSVs\Suchitepéquez.csv
Leyendo archivo: Datos/CSVs\Totonicapán.csv
Leyendo archivo: Datos/CSVs\Zacapa.csv

Importación realizada con éxito

# 2. Análisis del estado de los datos crudos

In [6]:
# Muestra la información del dataset unido
print(df_unido.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6600 entries, 0 to 6599
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           6600 non-null   object
 1   DISTRITO         6600 non-null   object
 2   DEPARTAMENTO     6600 non-null   object
 3   MUNICIPIO        6600 non-null   object
 4   ESTABLECIMIENTO  6600 non-null   object
 5   DIRECCION        6598 non-null   object
 6   TELEFONO         6554 non-null   object
 7   SUPERVISOR       6600 non-null   object
 8   DIRECTOR         6574 non-null   object
 9   NIVEL            6600 non-null   object
 10  SECTOR           6600 non-null   object
 11  AREA             6600 non-null   object
 12  STATUS           6600 non-null   object
 13  MODALIDAD        6600 non-null   object
 14  JORNADA          6600 non-null   object
 15  PLAN             6600 non-null   object
 16  DEPARTAMENTAL    6600 non-null   object
dtypes: object(17)
memory usage: 876.7+ KB
None

In [7]:
# Revisa valores únicos por columna
for col in df_unido.columns:
    print(f"\nColumna: {col}")
    print(df_unido[col].value_counts(dropna=False).head())

# Revisa valores nulos
print()
print(df_unido.isnull().sum())

Columna: CODIGO
CODIGO
16-01-0138-46    1
16-01-0139-46    1
16-01-0140-46    1
16-01-0141-46    1
16-01-0142-46    1
Name: count, dtype: int64

Columna: DISTRITO
DISTRITO
01-403    160
11-017    139
01-411    103
05-033     94
18-039     84
Name: count, dtype: int64

Columna: DEPARTAMENTO
DEPARTAMENTO
GUATEMALA         1038
CIUDAD CAPITAL     867
SAN MARCOS         432
ESCUINTLA          393
QUETZALTENANGO     365
Name: count, dtype: int64

Columna: MUNICIPIO
MUNICIPIO
ZONA 1            303
MIXCO             300
VILLA NUEVA       223
QUETZALTENANGO    175
RETALHULEU        156
Name: count, dtype: int64

Columna: ESTABLECIMIENTO
ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                        286
INSTITUTO NACIONAL DE EDUCACIÓN DIVERSIFICADA                        102
CENTRO DE EDUCACIÓN EXTRAESCOLAR -CEEX-                               32
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSEÑANZA     22
INSTITUTO DE EDUCACIÓN DIVERSIFICADA POR COOPERATIVA DE ENSEÑANZA     20
Name: count, dtype: int64

Columna: DIRECCION
DIRECCION
CABECERA MUNICIPAL    199
BARRIO EL CENTRO       50
BARRIO EL CALVARIO     14
ALDEA PLAYITAS         12
ALDEA CAMOJALLITO      11
Name: count, dtype: int64

Columna: TELEFONO
TELEFONO
NaN         46
22093200    12
77746400    10
24637777     9
23750057     9
Name: count, dtype: int64

Columna: SUPERVISOR
SUPERVISOR
MIGUEL ANGEL ARMAS ROCHA            190
CARLOS HUMBERTO GONZÁLEZ DE LEÓN    160
JUAN ENRIQUE MARTINEZ SOLANO        103
REMY ARTURO SINAY GUDIEL             94
ELSA YADIRA MARTINEZ PEREZ           84
Name: count, dtype: int64

Columna: DIRECTOR
DIRECTOR
NaN                                 26
MARÍA DOLORES PÉREZ TUCHÁN          10
HÉCTOR REYNALDO GÓMEZ AGUILAR        9
MELVIN RAFAEL REYES LÓPEZ            8
SILVIA MARLENI ALVARADO GUARDADO     8
Name: count, dtype: int64

Columna: NIVEL
NIVEL
DIVERSIFICADO    6600
Name: count, dtype: int64

Columna: SECTOR
SECTOR
PRIVADO        5418
OFICIAL         874
COOPERATIVA     213
MUNICIPAL        95
Name: count, dtype: int64

Columna: AREA
AREA
URBANA             5250
RURAL              1349
SIN ESPECIFICAR       1
Name: count, dtype: int64

Columna: STATUS
STATUS
ABIERTA    6600
Name: count, dtype: int64

Columna: MODALIDAD
MODALIDAD
MONOLINGUE    6391
BILINGUE       209
Name: count, dtype: int64

Columna: JORNADA
JORNADA
DOBLE          1957
VESPERTINA     1836
MATUTINA       1687
SIN JORNADA    1001
NOCTURNA        106
Name: count, dtype: int64

Columna: PLAN
PLAN
DIARIO(REGULAR)                        4052
FIN DE SEMANA                          1310
SEMIPRESENCIAL (FIN DE SEMANA)          490
SEMIPRESENCIAL (UN DÍA A LA SEMANA)     409
A DISTANCIA                             116
Name: count, dtype: int64

Columna: DEPARTAMENTAL
DEPARTAMENTAL
GUATEMALA OCCIDENTE    551
GUATEMALA NORTE        545
GUATEMALA SUR          528
SAN MARCOS             432
ESCUINTLA              393
Name: count, dtype: int64

25
CODIGO              0
DISTRITO            0
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           2
TELEFONO           46
SUPERVISOR          0
DIRECTOR           26
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64

In [8]:
# Vista previa de los datos
print(df_unido.sample(10))

25           CODIGO DISTRITO    DEPARTAMENTO       MUNICIPIO  \
4194  22-17-0015-46   22-027         JUTIAPA         QUESADA
1828  05-01-0359-46   05-033       ESCUINTLA       ESCUINTLA
2617  01-08-8815-46   01-409       GUATEMALA           MIXCO
5197  11-02-0061-46   11-017      RETALHULEU   SAN SEBASTIAN
609   04-07-0017-46   04-013   CHIMALTENANGO          PATZUN
3545  18-01-0325-46   18-008          IZABAL  PUERTO BARRIOS
3843  21-01-0437-46   21-004          JALAPA          JALAPA
1297  00-07-0273-46   01-639  CIUDAD CAPITAL          ZONA 7
3987  22-01-0605-46   22-001         JUTIAPA         JUTIAPA
2941  01-15-0599-46   01-216       GUATEMALA     VILLA NUEVA

25                                      ESTABLECIMIENTO  \
4194         COLEGIO PARTICULAR MIXTO BILINGUE SANTA FE
1828     CENTRO EDUCATIVO Y FORMACIÓN HUMANA "DE MARÍA"
2617                             COLEGIO MIXTO EL PILAR
5197                COLEGIO PRIVADO MIXTO SAN SEBASTIÁN
609   INSTITUTO NACIONAL DE EDUCACIÓN DIVERSIFICADA ...
3545     INSTITUTO PARTICULAR MIXTO "EL DIVINO MAESTRO"
3843    COLEGIO PARTICULAR MIXTO OSCAR DE LEÓN PALACIOS
1297              LICEO TÉCNICO DE CIENCIA Y TECNOLOGÍA
3987  INSTITUTO TECNICO PARTICULAR DE DIVERSIFICADO ...
2941    CENTRO EDUCATIVO CRISTIANO "LIGA DE VIDA NUEVA"

25                                            DIRECCION  TELEFONO  \
4194                                  ALDEA BUENA VISTA  54262545
1828                          3A. CALLE "A" 1-43 ZONA 1  42065584
2617          LOTE N. 10 MANZANA B PLANES DE MINERVA VI  24833588
5197                                    CANTON SAMALA 1  47966617
609                               3A. CALLE 2-88 ZONA 4  51928359
3545   BARRIO EL PUEBLITO ALDEA SANTO TOMAS DE CASTILLA  79484009
3843  LOTES 6F, 7F, 159F, 160F, LOTIFICACIÓN LOS EUC...  78220029
1297    31 AVENIDA C 11-74 ZONA 7 COLONIA CENTROAMÉRICA  58996240
3987                             5TA. CALLE 5-43 ZONA 1  78442296
2941                             5A. CALLE 15-20 ZONA 4  66278010

25                                        SUPERVISOR  \
4194                     DANIEL ARTURO QUIÑONEZ SOTO
1828                        REMY ARTURO SINAY GUDIEL
2617       IDALIA DEL ROSARIO LOPEZ SANDOVAL DE PAIZ
5197                        MIGUEL ANGEL ARMAS ROCHA
609                       JUSTA XINICO SIPAC DE TZUL
3545  ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA
3843                  VICTOR MANUEL PORTILLO RECINOS
1297                  LUDVIN RICARDO URRUTIA LORENTI
3987       CECILIA ISABEL ALDECOA CASASOLA DE CASTRO
2941                 ANNY VICTORIA PERDOMO VILLATORO

25                              DIRECTOR          NIVEL   SECTOR    AREA  \
4194       HENRY ARMIDAS VELASQUEZ PEREZ  DIVERSIFICADO  PRIVADO  URBANA
1828          ERICK IVAN RIVERA MARTINEZ  DIVERSIFICADO  PRIVADO  URBANA
2617        KARLA MERCEDES PINEDA CHAVEZ  DIVERSIFICADO  PRIVADO  URBANA
5197   ANAHÍ DEL PILAR HERNÁNDEZ CHOCHÓM  DIVERSIFICADO  PRIVADO  URBANA
609           DORA ALICIA PACHECO QUECHÉ  DIVERSIFICADO  OFICIAL  URBANA
3545  MANUEL DE JESÚS SAGASTUME CASASOLA  DIVERSIFICADO  PRIVADO   RURAL
3843    LUCERO ZELESTE MORALES CONTRERAS  DIVERSIFICADO  PRIVADO  URBANA
1297                 JUAN LUIS JOCÓN UYÚ  DIVERSIFICADO  PRIVADO  URBANA
3987        RONI ERNESTO RECINOS ESTRADA  DIVERSIFICADO  PRIVADO  URBANA
2941     HEIDI YESSENIA GRAMAJO GONZÁLEZ  DIVERSIFICADO  PRIVADO  URBANA

25     STATUS   MODALIDAD      JORNADA                            PLAN  \
4194  ABIERTA  MONOLINGUE   VESPERTINA                 DIARIO(REGULAR)
1828  ABIERTA  MONOLINGUE        DOBLE                 DIARIO(REGULAR)
2617  ABIERTA  MONOLINGUE   VESPERTINA                 DIARIO(REGULAR)
5197  ABIERTA  MONOLINGUE  SIN JORNADA  SEMIPRESENCIAL (FIN DE SEMANA)
609   ABIERTA  MONOLINGUE     MATUTINA                 DIARIO(REGULAR)
3545  ABIERTA  MONOLINGUE        DOBLE                   FIN DE SEMANA
3843  ABIERTA  MONOLINGUE     MATUTINA                 DIARIO(REGULAR)
1297  ABIERTA  MONOLINGUE        DOBLE                  SEMIPRESENCIAL
3987  ABIERTA  MONOLINGUE        DOBLE                   FIN DE SEMANA
2941  ABIERTA  MONOLINGUE     MATUTINA                 DIARIO(REGULAR)

25          DEPARTAMENTAL
4194              JUTIAPA
1828            ESCUINTLA
2617  GUATEMALA OCCIDENTE
5197           RETALHULEU
609         CHIMALTENANGO
3545               IZABAL
3843               JALAPA
1297  GUATEMALA OCCIDENTE
3987              JUTIAPA
2941        GUATEMALA SUR

# 3. Operaciones de limpieza

### A. Unir los datos horizontalmente

Se unen los 23 dataframes para obtener un solo archivo y limpiarlo más efectivamente.

In [9]:
todos = pd.concat(datos, ignore_index=True)
todos

# Verificación de que las filas son la cantidad correcta
contador = 0
for archivo in datos:
    contador = contador + len(archivo)

print(f'La cantidad de filas coincide: {len(todos) == contador}')
print(f'Hay {len(todos)} establecimientos educativos en Guatemala.')

# Cambiar encabezado a minúsculas

La cantidad de filas coincide: True
Hay 6600 establecimientos educativos en Guatemala.

#### Renombramiento de columnas (mayúsculas a minúsculas)

In [10]:
df_unido.columns = df_unido.columns.str.strip().str.lower().str.replace(' ', '_')

### B. Limpiar variable Teléfono

1. Se eliminan todos los espacios vacíos de la columna (" ")
2. Se mantienen solo los primeros 8 caracteres. 
3. No se eliminan los registros nulos, sino solo se pone el valor NA.

In [11]:
def clean_phone(phone):
    phone = str(phone)
    phone = re.sub(r'\D', '', phone)  # elimina cualquier carácter no numérico
    if len(phone) == 8:
        return f' {phone[:4]}-{phone[4:]}'
    elif len(phone) == 0:
        return None
    else:
        return phone  # conservar si no es estándar

df_unido['telefono'] = df_unido['telefono'].apply(clean_phone)

df_unido['telefono'].head(10)

0     7794-5104
1     7736-7402
2     7823-2301
3     7951-4215
4     7952-1468
5     5710-1061
6     7952-2555
7     7793-0045
8     7954-5566
9     7951-4754
Name: telefono, dtype: object

### C. Limpiar variables con nombres (director, supervisor) y dirección

#### Eliminación de espacios duplicados y caracteres invisibles

In [12]:
text_cols = ['departamento', 'municipio', 'establecimiento', 'direccion', 'supervisor', 'director', 'nivel', 'sector', 'area', 'status', 'modalidad', 'jornada', 'plan', 'departamental']

for col in text_cols:
    df_unido[col] = df_unido[col].astype(str).str.strip()
    df_unido[col] = df_unido[col].str.replace(r'\s+', ' ', regex=True)

#### Corrección de caracteres especiales (tildes y ñ)

In [13]:
import unicodedata

def normalizar_texto(texto):
    if pd.isna(texto):
        return texto
    texto = str(texto)

    # Reemplazos típicos de errores de codificación en CSV
    reemplazos = {
        "Ã¡": "á", "Ã©": "é", "Ã­": "í", "Ã³": "ó", "Ãº": "ú",
        "Ã": "Á", "Ã‰": "É", "Ã": "Í", "Ã“": "Ó", "Ãš": "Ú",
        "Ã±": "ñ", "Ã‘": "Ñ"
    }
    for k, v in reemplazos.items():
        texto = texto.replace(k, v)

    # Si quieres quitar tildes y dejar caracteres simples:
    # texto = ''.join(c for c in unicodedata.normalize('NFD', texto)
    #                 if unicodedata.category(c) != 'Mn')

    return texto

#### Correción de departamento “CIUDAD CAPITAL” a “GUATEMALA”

In [14]:
df_unido['departamento'] = df_unido['departamento'].replace(
    {'CIUDAD CAPITAL': 'GUATEMALA'}
)

#### Pasar texto de mayúsculas a formato de nombres propios

In [ ]:
def to_title_case(texto):
    if pd.isna(texto):
        return texto
    return str(texto).lower().title()

cols_title_case = ['departamento', 'municipio', 'establecimiento', 'direccion', 'supervisor', 'director', 'nivel', 'sector', 'area', 'status', 'modalidad', 'jornada', 'plan', 'departamental']

for col in cols_title_case:
    if col in df_unido.columns:
        # Primero normalizar caracteres
        df_unido[col] = df_unido[col].apply(normalizar_texto)
        # Luego aplicar formato Título
        df_unido[col] = df_unido[col].apply(to_title_case)

#### Revisión y eliminación de valores faltantes en columnas clave

In [20]:
columnas_clave = ['departamento', 'municipio', 'establecimiento', 'direccion', 'supervisor', 'director', 'nivel', 'sector', 'area', 'status', 'modalidad', 'jornada', 'plan', 'departamental']
df_unido = df_unido.dropna(subset=columnas_clave)

# 4. Guardar datos limpios

In [21]:
df_unido.to_csv("dataset_limpio.csv", index=False, encoding='utf-8-sig')
print("Dataset limpio exportado como dataset_limpio.csv")

Dataset limpio exportado como dataset_limpio.csv